__pycache__/
*.py[cod]
*$py.class
.Python
env/
.env
.venv/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.idea/
.DS_Store
.ipynb_checkpoints/
.pytest_cache/
coverage/
htmlcov/
.mypy_cache/
*.log
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
.vscode/settings.local.json

